@import "../../../app/[lang]/App.scss";

.list-articles-container{
    @include responsive-width;
    
    .loading{
        display: flex;
        justify-content: center;
        margin-top: 5vh;
        align-content: center;
    }
}