$Dark-blue: #2D3F4F;

.dropdown-container {
  position: relative;
  display: flex;
  align-items: center;
  flex-direction: row;

  .dropdown-header {
    cursor: pointer;
    padding: 10px;
    border-top-right-radius: 7px;
    border-top-left-radius: 7px;
    border: 1px solid var(--Brown, #2D3F4F);
  }
  .dropdown-header-open{
    border-top-right-radius: 7px;
    border-top-left-radius: 7px;
    border: 1px solid var(--Brown, #AB9A8E);
    margin-bottom: 0;
  }

  .dropdown-list {
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1000;
    border-bottom-right-radius: 7px;
    border-bottom-left-radius: 7px;
    border: 1px solid var(--Brown, #AB9A8E);
    background: $Dark-blue;

    .dropdown-item {
      padding: 10px;
      cursor: pointer;
      &:hover {
        background-color: #f0f0f0;
      }
    }
  }

  .down-arrow {
    display: flex;
    cursor: pointer;
    transition: transform 0.4s ease-in-out;
    align-items: center;
  }
  .down-arrow-open{
    align-items: center;
    transform: rotate(180deg);
  }
}

