@import "../../../App.scss";

.list-mini-articles {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap:wrap;
  justify-content:space-between;

  @media (max-width:768px) {
    justify-content: center;
  } 

  .article {
    border: 2px solid transparent;
    border-radius: 18px;
    padding: 10px;
    min-width: 300px;
    
    @media (min-width:1320px) {
      width: 30%;
    }
    @media (max-width:1320px) {
      width: 40%;
    }
    @media (max-width:768px) {
      width: 100%;
    }
    .article-text{
      display: flex;
      flex-direction: column;
      justify-content: space-between;
    }
    transition: border-color 0.3s ease-in-out;
    cursor: pointer;

    .article__title {
      color: var(--Black, #100F1B);
      font-family: Lora;
      font-size: 35px;
      font-style: normal;
      font-weight: 500;
      line-height: 122%;
      letter-spacing: -0.4px;
      text-decoration-line: underline;
      margin: 10px 0;
      min-height: 80px;
    }
  }

  .article:hover {
    border-color: var(--Orange, #C47125);
    .article__title{
      color: var(--Brown, #C47125);
    }
    
  }

  .is-hot-container{
    position: absolute;
    z-index: 6;
    padding: 25px;
    .is-hot{
      padding: 5px;
      border-radius: 3px;
      background: var(--Dark-blue, #2D3F4F);
      color: var(--Yellow, #EFC900);
      font-family: Inter;
      font-size: 18px;
      font-style: normal;
      font-weight: 700;
      line-height: normal;
    }
  }
  .article__image {
    width: 100%;
    border-radius: 18px;
    height: auto;
  }


  .article__description {
    margin-bottom: 10px;
    min-height: 35px;
  }

  .article__info {
    display: flex;
    justify-content: space-between;

    color: var(--Brown, #AB9A8E);
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;

    .article__reading-time{
      display: flex;
      width: 70%;
      align-items: center;
      flex-direction: row;
      flex-wrap: wrap;
    }
  }

}
.icon-video-play{
  display: none;
}
.video {
  .img-container{
    width: 100%;
    border-radius: 18px;
    height: auto;
    transition: all 0.7s;
    &:hover{
      background-color: #100F1B;
      .article__image {
        opacity: 0.6;
      }
    }
  }
  .icon-video-play {
      display: flex;
      position:relative;
      align-items: center;
      z-index: 3;
      width: 20%;
      top:30%;
      margin: auto;
    .container {
      position: absolute;
      background-color: rgba(171, 154, 142, 0.80);
      border-radius: 100%;
      padding: 20%;
      width: 50%;
      .icon {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
      }
    }
  }
} 
.container:hover .img-container{
  background-color: red;
    .article__image {
      opacity: 0.6;
  }
}